@import "src/style";

.cardTitle.cardTitle {
  font-size: 30px;
  font-family: $primaryFont;
  text-transform: uppercase;
  align-self: center;

}

.cardContent.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $teaGreen;
  }
}

.button.button {
  background-color: $lightPink;
  color: #000000;
  font-family: $primaryFont;
  font-size: 20px;
  width: 150px;

  &:hover {
    background-color: $maximumBluePurple;
  }
}

.text.text {
  font-family: $primaryFont;
  font-size: 20px;
  color: #000000;
}
